.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EF6C33;
  margin: auto;
  cursor: pointer;
  width: 15%;
  height: 50px;
  font-size: 2rem;
  border-radius: 20px;
  color: white;
}
@media only screen and (max-width: 500px) {
  .btn {
    width: 100%;
  }
  .btn:hover {
    background-color: white;
    color: #22283A;
  }
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Helvetica', 'Arial', sans-serif;
  color: #0C4A60;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Arial', sans-serif;
  color: #0C4A60;
}
h2 {
  font-size: 3.6rem;
}
h3 {
  font-size: 3rem;
}
p {
  font-size: 2rem;
  line-height: 1.5;
}
.container-home {
  max-width: 1050px;
  width: 100%;
  margin: 0 auto;
  height: 0 auto;
}
.banner {
  width: 100%;
  font-size: 4rem;
  background-color: ghostwhite;
  padding-top: 2rem;
}
.banner h1 {
  font-family: "Jacques Francois Shadow", cursive;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding-bottom: 2.5rem;
  align-items: center;
  justify-content: center;
  font-size: 8.8rem;
  font-weight: 400;
  color: #0C4A60;
}
@media only screen and (max-width: 500px) {
  .banner h1 {
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    font-size: 6rem;
  }
}
@media only screen and (max-width: 320px) {
  .banner h1 {
    font-size: 4.5rem;
    font-weight: 200;
  }
}
nav {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 5px;
}
@media only screen and (max-width: 500px) {
  nav ul {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 800px) {
  nav ul {
    margin: 0 auto;
    padding: 0;
  }
}
nav ul a {
  text-decoration: none;
  font-size: 2rem;
  color: white;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-left: 3rem;
  margin-right: 3rem;
  background-color: #EF6C33;
  border-radius: 10px;
}
@media only screen and (max-width: 500px) {
  nav ul a {
    border-radius: 15px;
  }
}
@media only screen and (max-width: 800px) {
  nav ul a {
    margin: 0.5rem;
  }
}
nav ul a:hover {
  background-color: #0C4A60;
  color: white;
}
.dads {
  border-radius: 5px;
  width: 100%;
  margin: 0 auto;
  height: auto;
}
@media only screen and (max-width: 500px) {
  .dads {
    margin: 0 auto;
    height: 30rem;
  }
}
.banner-jokes {
  width: 100%;
  font-size: 4rem;
  background-color: ghostwhite;
  padding-top: 2rem;
}
.banner-jokes h1 {
  font-family: "Jacques Francois Shadow", cursive;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding-bottom: 2.5rem;
  align-items: center;
  justify-content: center;
  font-size: 8.8rem;
  font-weight: 400;
  color: #0C4A60;
}
.banner-jokes nav {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
footer {
  color: #22283B;
  background: #f4f4f4;
  padding: 20px 0;
  border: 1px double #e0e0e0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 500px) {
  footer p {
    font-size: 1.3rem;
  }
}
h2,
h3 {
  font-weight: 600;
}
.intro h2 {
  padding: 15px;
}
.intro p {
  padding: 0 15px;
  width: 95%;
}
.intro img {
  border-radius: 5px;
  width: 95%;
  height: 500px;
  justify-content: center;
  display: flex;
}
@media only screen and (max-width: 500px) {
  .intro img {
    width: 100%;
    height: 300px;
    padding: 1rem;
    border-radius: 20px;
  }
}
@media only screen and (max-width: 800px) {
  .intro img {
    height: 300px;
  }
}
.dad-joke-images {
  width: 100%;
}
@media only screen and (max-width: 800px) {
  .dad-joke-images {
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
}
.dad-joke-images img {
  width: 28%;
  margin: 20px 2.5%;
  border-radius: 20px;
  height: 100%;
}
@media only screen and (max-width: 800px) {
  .dad-joke-images .joke1 {
    width: 40%;
  }
  .dad-joke-images .joke2 {
    display: none;
  }
  .dad-joke-images .joke3 {
    width: 40%;
  }
}
@media only screen and (max-width: 500px) {
  .dad-joke-images .joke2 {
    display: none;
  }
  .dad-joke-images .joke3 {
    display: none;
  }
  .dad-joke-images .joke1 {
    width: 93%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: center;
  }
}
.humor {
  padding-top: 15px;
  padding-bottom: 0px;
  width: 95%;
  margin: 0 auto;
}
@media only screen and (max-width: 800px) {
  .humor {
    margin: 0 auto;
  }
}
@media only screen and (max-width: 500px) {
  .humor {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    padding: 0 5px 0;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}
.humor h3 {
  margin-top: 11px;
}
.humor p {
  margin-top: 13px;
}
@media only screen and (max-width: 500px) {
  .humor p {
    margin-top: 10px;
  }
}
.joke4 {
  display: none;
  width: 28%;
  margin: 20px 2.5%;
  border-radius: 20px;
  height: 100%;
}
@media only screen and (max-width: 500px) {
  .joke4 {
    width: 100%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: center;
    border-radius: 10px;
  }
}
.question {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  border-top: 1px solid #dee2e6;
  padding: 50px 60px;
}
@media only screen and (max-width: 500px) {
  .question {
    width: 98%;
    margin: auto;
    flex-direction: column-reverse;
    padding: 0;
  }
}
.question .what-text {
  width: 85%;
}
@media only screen and (max-width: 500px) {
  .question .what-text {
    width: 95%;
    margin: 0 auto;
  }
}
.question .what-text h3 {
  margin-bottom: 10px;
  margin-top: 10px;
}
.question .what-text p {
  margin-bottom: 26px;
}
.question-img {
  width: 46%;
  height: 60px;
  margin-left: 4%;
  border-radius: 20px;
}
@media only screen and (max-width: 500px) {
  .question-img {
    width: 100%;
    margin-left: 0;
    flex-direction: column-reverse;
    margin-top: 20px;
  }
}
.question-img img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
@media only screen and (max-width: 500px) {
  .question-img img {
    width: 100%;
  }
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EF6C33;
  margin: auto;
  cursor: pointer;
  width: 30rem;
  height: 30px;
  font-size: 2rem;
  border-radius: 5px;
  color: white;
}
.btn:hover {
  background-color: #EF6C33;
  color: white;
}
.btn:hover:hover {
  background-color: #0C4A60;
  color: white;
}
@media only screen and (max-width: 800px) {
  .btn {
    width: auto;
    padding: 5px;
  }
}
@media only screen and (max-width: 500px) {
  .btn {
    width: 95%;
    background-color: #EF6C33;
    padding: 20px 0;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.devs {
  margin: 15px;
}
@media only screen and (max-width: 800px) {
  .devs {
    margin: 15px;
  }
}
@media only screen and (max-width: 500px) {
  .devs {
    margin: 3rem;
  }
}
i {
  color: #EF6C33;
  font-size: 2.5rem;
  margin: 10px;
}
i:hover {
  color: #0C4A60;
}
.container {
  padding: 0 20px;
  margin: 0 auto;
  width: 85%;
}
.container h2 {
  font-size: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0C4A60;
  padding: 15px;
}
.about-us {
  border: 1px solid blue;
  display: flex;
}
.about-us img {
  border-radius: 55%;
  width: 25%;
}
@media only screen and (max-width: 500px) {
  .about-us {
    width: 50%;
    flex-direction: column-reverse;
  }
}
.about-us h3 {
  font-size: 3rem;
  color: #EF6C33;
  padding: 15px 0 5px 0;
  margin: 0 auto;
}
.about-us p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
  padding: 10px 20px;
  font-size: 1.8rem;
}
@media only screen and (max-width: 500px) {
  .about-us {
    width: 98%;
    margin: auto;
    flex-direction: column-reverse;
    padding: 0;
  }
}
.reverse {
  flex-direction: row-reverse;
}
@media only screen and (max-width: 500px) {
  flex-wrap: wrap-reverse;
}
.joke-generator {
  width: 100%;
  display: inline-block;
}
.joke-generator img {
  width: 28%;
  border-radius: 20px;
  margin: 20px 2.5%;
  height: 100%;
}
.joke-generator button {
  width: 28%;
  height: 30px;
  margin: 20px 2.5%;
  color: white;
  font-size: 2rem;
  border-radius: 5px;
  background-color: #EF6C33;
  cursor: pointer;
}
.joke-generator button:hover {
  background-color: #0C4A60;
}
.lower-content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-bottom: 20px;
}
.lower-content .btn {
  width: 90px;
  height: 40px;
  position: absolute;
  top: 15%;
  left: 47%;
  transform: translate(-50%, 50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #EF6C33;
  color: white;
  font-size: 2rem;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
