h2 {
    font-size: 6.0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: @dark-blue;
    padding: 30px;
}

.container {
    padding: 0 20px;
    margin: 0 auto;
    width: 85%;

}

.about-us {
    display: flex;

    img {
        border-radius: 15%;
        width: 35%;
        // height: 300px;
    }

    h3 {
        font-size: 3.0rem;
        color: @main-header-color;
        padding: 40px 0 5px 0;
        margin: 0 auto;
        margin-left: 30px;
    }

    p {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 95%;
        padding: 10px 20px;
        font-size: 1.8rem;
    }

    @media @tablet {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .about-us-text {
            width: 45%;
        }
        img {
            width: 45%;
        }
    }

    @media @phone {
        max-width: 98%;
        margin: auto;
        flex-direction: column-reverse;
        
         .about-us-text {
             width: 100%;
          }

         img {
             width: 90%;
         }
    }
}

.reverse {
    flex-direction: row-reverse;

    @media @tablet {
        flex-wrap: wrap-reverse;
    }

    // @media @phone {
    // 	// flex-direction: column-reverse;
    // 	// flex-wrap: wrap-reverse;
    // 	flex-direction: column-reverse;	
}

// max-width: 100%;
// display: block;
// height: auto;