// Home Content
h2, h3 {
	font-weight: 600;
}


.intro {
  h2 {
		padding: 15px;
  }

  p {
    padding: 0 15px;
    width: 95%;
  }

  img {
    border-radius: 5px;
    width: 95%;
    height: 500px;
    justify-content: center;
    display: flex;
  }

  img {
    @media @phone {
      width: 100%;
      height: 300px;
      padding: 1rem;
      border-radius: 20px;

		}
		@media @tablet {
			height: 300px;
		}
  }
}

.dad-joke-images {
	width: 100%;

		@media @tablet {
			margin: 0 auto;
			display: flex;
			justify-content: center;
		}

  img {
    width: 28%;
    margin: 20px 2.5%;
    border-radius: 20px;
    height: 100%;
  }
	
	@media @tablet {
		.joke1 {
			width: 40%;
		}
		.joke2 {
				display: none;
		}
		.joke3 {
			width: 40%;
		}
	}

  @media @phone {
    .joke2 {
      display: none;
    }

    .joke3 {
      display: none;
    }

    .joke1 {
      width: 93%;
      margin: 0 auto;
      height: 100%;
      display: flex;
      justify-content: center;
    }
	}
}

.humor {
  padding-top: 15px;
  padding-bottom: 0px;
	width: 95%;
	margin: 0 auto;

	@media @tablet {
		margin: 0 auto;
	}

  @media @phone {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
		padding: 0 5px 0;
		margin: 0 auto;
		margin-bottom: 10px;
  }

  h3 {
    margin-top: 11px;
  }

  p {
		margin-top: 13px;
		@media @phone {
			margin-top: 10px;
		}
  }
}

.joke4 {
	display: none;
	width: 28%;
	margin: 20px 2.5%;
	border-radius: 20px;
	height: 100%;
	
  @media @phone {
		display: flex;
    width: 100%;
		margin: 0 auto;
    height: 100%;
    display: flex;
		justify-content: center;
		border-radius: 10px;
  }
}

.question {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  border-top: 1px solid @main-border-color;
  padding: 50px 60px;

  @media @phone {
    width: 98%;
    margin: auto;
    flex-direction: column-reverse;
    padding: 0;
  }

  .what-text {
    width: 85%;

    @media @phone {
      width: 95%;
			margin: 0 auto;
    }

    h3 {
      margin-bottom: 10px;
      margin-top: 10px;
    }

    p {
      margin-bottom: 26px;
    }
  }
}

.question-img {
  width: 46%;
  height: 60px;
  margin-left: 4%;
  border-radius: 20px;

  @media @phone {
    width: 100%;
    margin-left: 0;
    flex-direction: column-reverse;
    margin-top: 20px;
  }

  img {
    width: 100%;
    height: auto;
    border-radius: 10px;

    @media @phone {
      width: 100%;
    }
  }
}

.btn {
	.btn-mixin(white, pointer, 30rem, 30px, 5px);
	
	&:hover {
		background-color: @orange;
		color: white;

		&:hover {
			background-color: @dark-blue;
			color: white;
		}
	}

	@media @tablet {
		width: auto;
		padding: 5px;
	}

  @media @phone {
    width: 95%;
    background-color: @orange;
    padding: 20px 0;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

  }
}

.devs {
	margin: 15px;

	@media @tablet {
		margin: 15px;
	}
	@media @phone {
		margin: 3rem;
	}
}

i {
	color: @orange;
	font-size: 2.5rem;
	margin: 10px;

	&:hover {
		color: @dark-blue;
		}
}
